body {
    /*font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande', 'Helvetica Neue', sans-serif;*/
    font-family: 'Montserrat', sans-serif !important;
    font-size: 14px;
    letter-spacing: .2px;
    text-rendering: optimizeLegibility;
    text-size-adjust: 100;
}

.logo-header {
    margin: 24px;
    margin-left: 72px;
}

#header-image {
    background-image: url("image/header-bitmap.png");
    border: none;
    height: 72px;
}

#footer-image {
    background-image: url("image/footer-bitmap.png");
    border: none;
    height: 72px;
}

#section-title {
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.3px;
    margin-top: 56px;
    margin-left: 72px;
    color: #7e0000;
}

#ada-symbol-dark {
    height: 8px;
    margin-right: 4px;
}

#header-container {
    background-color: rgba(126, 0, 0, 0.8);
    height: 72px;
    padding: 0 !important;
}

#logo-link {
    margin: 24px 24px 24px 72px;
}

#footer-logo-link {
    margin: 30px 24px 30px 72px;
}

#logo {
    height: 24px;
}

#logo-small {
    height: 12px;
}

#currency {
    margin: 28px 72px 28px 0px
}

#toggle {
    color: white;
    font-size: 10px;
    line-height: 16px;
    padding: 0;
}

#toggle:hover {
    background-color: transparent;
}

#caret {
    margin-left: 6px;
    margin-bottom: 2px;
}

#search-field-position {
    height: 24px;
    width: 320px;
    margin: 24px auto;
}

#search-field {
    background-color: transparent;
    color: white;
    font-size: 12px;
    line-height: 12px;
    height: 24px;
    width: 320px;
    border: solid 1px white;
    border-radius: 12px;
    opacity: 0.5;
    padding-left: 12px;
    position: absolute;
}

#search-field:hover {
    opacity: 1;
}

#search-field:focus {
    opacity: 1;
}

::-webkit-input-placeholder { color: rgba(255, 255, 255, 0.5); }
::-moz-placeholder          { color: rgba(255, 255, 255, 0.5); }
:-moz-placeholder           { color: rgba(255, 255, 255, 0.5); }
:-ms-input-placeholder      { color: rgba(255, 255, 255, 0.5); }

#search-ic {
    color: white;
    font-size: 12px;
    margin-left: 296px;
    margin-top: 5px;
}

#footer-links {
    color: white;
    font-size: 10px;
    line-height: 12px;
    margin: 30px auto;
    width: 480px;
    text-align: center;
}

#footer-links a {
    text-decoration: none;
    color: white;
    cursor: pointer;
    margin: 0px 12px;
}

#footer-links a:hover {
    border-bottom: solid 1px white;
}

.dark-red-color {
    color: rgb(126, 0, 0);
}

.light-grey-background {
    background-color: rgb(242, 242, 242);
}

.very-light-grey-background {
    background-color: rgb(251, 251, 251);
}

/* override bootstrap */

td {
    border: solid 0 white !important;
}

#info-table-margins {
    margin: 24px 48px !important;
}

#no-margin {
    margin: 0;
}

#no-padding {
    padding: 0;
}

#no-padding-only-right {
    padding: 0;
    padding-right: 12px;
}

#no-padding-only-left {
    padding: 0;
    padding-left: 12px;
}

#info-table {
    font-size: 10px;
    line-height: 12px;
    color: #333333;
}

#info-table tr, td {
    height: 33px !important;
}

#info-table td {
    padding-left: 24px;
}

#color-table-overflow {
    background-color: #f2f2f2;
    padding: 6px 0px !important;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height:132px;
}

#color-table {
	font-size: 10px;
    line-height: 12px;
	color: #333333;
}

#color-table tr, td {
    padding: 6px 24px !important;
    height: 24px !important;
}

#address-link {
	font-size: 12px;
    line-height: 14px;
	color: #7e0000;
    text-decoration: none;
}

#address-link:hover {
    border-bottom: solid 1px #7e0000;
    cursor: pointer;
}

#qr-code {
    background-color: #f2f2f2;
    padding: 3px 0px !important;
}

#qr-code-cell {
    padding: 6px 0px 6px 24px !important;
}

#qr-code-text-cell {
    padding: 6px 24px 12px 12px !important;
    font-size: 9px;
    line-height: 11px;
}

#qr-code-img {
    height: 96px;
}
